@font-face{

  font-family: "Friday";
  src: url('/font/Friday13v12.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

@font-face{

  font-family: "FridaySH";
  src: url('/font/Friday13SH.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  
}

*{
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Friday";
}

/* Page 1 */

.page1{
  width: 100%;
  height: 100%;
  background-image: url("/img/bg1.jpg");
  background-size: cover;
  background-position-x:30px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 7em;
  text-align: center;
  margin: 20px 0 0 0;
  color: #ee2e24;
  cursor: default;
  transition: 0.5s ;
}

/* Title */

.title:hover{
  color: white;
}

.thirteen{
  color: #ee2e24;
}

sup{
  font-size: 0.5em;
}

/* Scroll */

.contain-scroll{
  width: 100px;
  height: 80px;
  background: url("/img/scrolldown.gif");
  background-size: cover;
}

/* Black Page */

.blackpage{
  width: 100%;
  height: 60%;
  background-color: black; 
}

/* Page 2 */

.page2{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

.rules{
  font-family: "Friday";
  color: white;
  font-size: 6em;
  opacity: 0;
  transition: 3s;
}

.survive{
  font-family: "FridaySH";
  color: #ee2e24;
}

/* Page 3 */

.page3{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.characters{
  color: #ee2e24;
  font-size: 5em;
  opacity: 0;
  transition: 1s;
}

.monitors{
  width: 100%;
  height: 50%;
  background-image: url("/img/monitors.jpg");
  background-size: cover;
  opacity: 0;
  transition: 1s;
}

/* Page 4 */

.page4{
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice{
  color: white;
  font-size: 6em;
}

/* Page 5 */

.page5{

  width: 100%;
  height: 100%;
  background-image: url("/img/bg2.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.catch{
  color: black;
  font-size: 6em;
}

.jason{
  color: #ee2e24;
  font-size: 2em;
  font-family: "FridaySH";
  opacity: 0;
  transition: 5s;

}

.blood{
  background-image: url("/img/blood.png");
  width: 100%;
  height: 30%;
}